.h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    border: 1px solid cornflowerblue;
    border-radius: 10px 0;
    color: cornflowerblue;
}